.barba {
    &-animation {
        &__circle {
            display: none;
            position: fixed;
            z-index: 9999;
            top: 50%;
            left: 0;
            right: 0;
            width: 50vh;
            height: 50vh;
            margin: 0 auto;
            transform: translateY(-50%) scale(0);
            background-color: #000;
            border-radius: 50%;
        }
    }
}

.animation__part[data-ca-part="1"] .animation__circle {
    transform: translateZ(0) scale(0.1) translateY(-50%);
}

.animation__part[data-ca-part="2"] .animation__circle {
    transform-origin: center;
    transform: translateY(-50%) scale(0.4);
}